@use 'variables' as *;
.simple-layout {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $cream; 
  font-family: $font-body;
  padding: 1rem;
}
// Sobrescreve o botão outlined verde do PrimeNG para o nosso Azul
    ::ng-deep .p-button-outlined.p-button {
      color: $navy-mid;
      border: 1px solid $navy-mid;
      background: transparent;
      padding: 0.8rem;
      font-weight: 600;
      transition: all 0.2s ease;

      &:hover {
        background: rgba($navy-mid, 0.05);
        color: $navy-deep;
        border-color: $navy-deep;
      }
    }

.form-card {
  background: $white;
  width: 100%;
  max-width: 450px;
  padding: 3rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba($navy-deep, 0.08);

  .form-header, .success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    // NOVO: Estilo da marca MATIA
    .brand-logo {
      font-family: $font-display;
      font-size: 2.8rem;
      color: $navy-deep;
      margin: 0;
      letter-spacing: 4px; // Espaçamento elegante entre as letras
      font-weight: 600;
      text-transform: uppercase;
    }

    .title {
      font-family: $font-display;
      font-size: 2rem;
      color: $navy-deep;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .subtitle {
      color: $text-gray;
      font-size: 0.95rem;
      text-align: center;
      line-height: 1.5;
    }
  }

  .forgot-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      label {
        color: $navy-deep;
        font-weight: 500;
        font-size: 0.9rem;
      }

      .custom-input {
        padding: 0.75rem 1rem;
        border-radius: 6px;
        border: 1px solid #d1d5db; 
        font-family: $font-body;
        font-size: 1rem;
        transition: border-color 0.2s;

        &:focus {
          outline: none;
          border-color: $navy-mid;
          box-shadow: 0 0 0 2px rgba($navy-mid, 0.1);
        }
      }

      .error-text {
        color: $red-error;
        font-size: 0.8rem;
        margin-top: 0.2rem;
      }
    }

    // NOVO: Estilo do botão Azul (Navy)
    ::ng-deep .navy-btn.p-button {
      background: $navy-mid;
      color: $white;
      border: none;
      padding: 0.8rem;
      font-weight: 600;
      border-radius: 6px;
      justify-content: center;
      transition: background-color 0.2s ease;

      &:hover {
        background: $navy-deep; // Fica mais escuro ao passar o mouse
      }
    }

    .back-to-login {
      text-align: center;
      margin-top: 1rem;

      a {
        color: $navy-mid;
        text-decoration: none;
        font-size: 0.95rem;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}